extends layout

block content
  div(class="container")
    h1="carrousel"
    section(class="logos slider")
      each image in data
        div(class="slide")
          img(src=image.image, alt=image.name)
  
